table {
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    background-color: #f2f2f2;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}